# Projeto de Melbourne

Este [arquivo CSV](https://www.kaggle.com/datasets/anthonypino/melbourne-housing-market?select=MELBOURNE_HOUSE_PRICES_LESS.csv) contém dados do mercado imobiliário de Melbourne (Austrália).  
É um conjunto de dados sobre vendas de imóveis na cidade de Melbourne.

In [18]:
import pandas as pd

import re

In [31]:
#  DataFrame vai ser df
df = pd.read_csv('house.csv')

### Filtrando Dados com condições

In [3]:
# Quartos: Room, Tipo = Type, h = Casa

filtro1 = df.loc[(df['Rooms'] == 3) & (df['Type'] == 'h') & (df['Price'] <= 500000)]

filtro1

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Postcode,Regionname,Propertycount,Distance,CouncilArea
92,Broadmeadows,145 Graham St,3,h,457000.0,S,YPA,1/04/2017,3047,Northern Metropolitan,4294,14.0,Hume City Council
170,Craigieburn,7A Amstel St,3,h,356500.0,S,Jason,1/04/2017,3064,Northern Metropolitan,15510,20.6,Hume City Council
177,Cranbourne North,22 Horsfield St,3,h,475000.0,S,LJ,1/04/2017,3977,South-Eastern Metropolitan,6464,34.7,Casey City Council
183,Dallas,31 Phillip St,3,h,455500.0,S,Barry,1/04/2017,3047,Northern Metropolitan,2246,14.0,Hume City Council
192,Delahey,1/25 Yeats Dr,3,h,335000.0,S,Ray,1/04/2017,3037,Western Metropolitan,2898,18.0,Brimbank City Council
...,...,...,...,...,...,...,...,...,...,...,...,...,...
62977,Werribee,4 Mekong Cl,3,h,420000.0,S,Barry,30/12/2017,3030,Western Metropolitan,16166,14.7,Wyndham City Council
62997,Wyndham Vale,5 Chatswood Pl,3,h,410000.0,S,hockingstuart,30/12/2017,3024,Western Metropolitan,5262,27.2,Wyndham City Council
62998,Wyndham Vale,21 Mermaid Cr,3,h,400000.0,SP,Barry,30/12/2017,3024,Western Metropolitan,5262,27.2,Wyndham City Council
63000,Wyndham Vale,8 Opala Ct,3,h,416000.0,S,Sweeney,30/12/2017,3024,Western Metropolitan,5262,27.2,Wyndham City Council
63019,Roxburgh Park,9 Parker Ct,3,h,500000.0,S,Raine,31/03/2018,3064,Northern Metropolitan,5833,20.6,Hume City Council

### Filtrando Dados Regular Expression

In [ ]:
#  Vamos fazer um filtro para as ruas, porém o emdereço está tudo jundo EX: 56A Turner St, logo ser for usado o == não vai dá certo.
# Para esse caso vou usar a função contei, ou seja no que eu quero filtrar tem que conter na linha e coluna esse pedasso que estou passando. 

filtro2_V1 = df.loc[df['Address'].str.contains('Turner')]

filtro2_V2 = df.loc[df['Address'].str.contains('Turner St')]

# filtro2 = df.loc[df['Address'].str.contains('Turner St | Turner Rd')]

# As busca de cima leveram em conta o kamiquase

filtro2 = df.loc[df['Address'].str.contains('Turner St | Turner Rd', flags=re.I)] # flags=re.I Vai despresar o kamiquase, o re tem que ser importado

#### Vamos exibir as variações de filtro para os endereços (Address) de Turner

_Vou colocar um head() para não poluir tanta a tela_

In [14]:
filtro2_V1.head(3)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Postcode,Regionname,Propertycount,Distance,CouncilArea
1,Abbotsford,59A Turner St,3,h,1220000.0,S,Marshall,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
2859,Malvern East,24 Turner St,6,h,4700000.0,S,RT,3/03/2018,3145,Southern Metropolitan,8801,8.4,Stonnington City Council
4723,Highett,48 Turner Rd,2,h,832000.0,S,Buxton,3/09/2017,3190,Southern Metropolitan,4794,16.0,Bayside City Council

In [15]:
filtro2_V2.head(3)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Postcode,Regionname,Propertycount,Distance,CouncilArea
1,Abbotsford,59A Turner St,3,h,1220000.0,S,Marshall,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
2859,Malvern East,24 Turner St,6,h,4700000.0,S,RT,3/03/2018,3145,Southern Metropolitan,8801,8.4,Stonnington City Council
4987,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,3067,Northern Metropolitan,4019,3.0,Yarra City Council

In [10]:
filtro2

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Postcode,Regionname,Propertycount,Distance,CouncilArea
4723,Highett,48 Turner Rd,2,h,832000.0,S,Buxton,3/09/2017,3190,Southern Metropolitan,4794,16.0,Bayside City Council
7501,Highett,28 Turner Rd,3,h,NaN,PI,Nick,4/08/2018,3190,Southern Metropolitan,4794,16.0,Bayside City Council
19609,Highett,2/20 Turner Rd,2,u,730000.0,SP,Buxton,10/12/2016,3190,Southern Metropolitan,4794,16.0,Bayside City Council
20717,Langwarrin,49 Turner Rd,4,h,NaN,PI,UFirst,11/08/2018,3910,Eastern Victoria,8743,41.0,Frankston City Council
39873,Highett,3/6 Turner Rd,3,u,NaN,PI,Buxton,20/05/2017,3190,Southern Metropolitan,4794,16.0,Bayside City Council
41985,Highett,1/6 Turner Rd,4,h,921000.0,S,Buxton,22/04/2017,3190,Southern Metropolitan,4794,16.0,Bayside City Council
45597,Highett,3/15 Turner Rd,2,u,770000.0,S,McGrath,23/09/2017,3190,Southern Metropolitan,4794,16.0,Bayside City Council
53753,Highett,2/4 Turner Rd,2,u,680500.0,S,Ray,26/08/2017,3190,Southern Metropolitan,4794,16.0,Bayside City Council
58707,Highett,22 Turner Rd,3,h,1150000.0,SP,Buxton,28/08/2016,3190,Southern Metropolitan,4794,16.0,Bayside City Council

### Filtrando Dados com Regx e Condição

In [ ]:
# filtro3 = df.loc[df['Address'].str.contains('59', flags=re.I) & (df['Price'] <= 500000)] Aqui vão aprecer todas as cas com valor <+ 500000 e que tenham no numero o valor 59

filtro3 = df.loc[df['Address'].str.contains('^59', flags=re.I) & (df['Price'] <= 500000)] # Tem que iniciar com 59, graças ao sinal de ^ (tio)

# A casa tem que ser de n 59 e Price (Preço) Ihual ou menor que 500000

filtro3

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Postcode,Regionname,Propertycount,Distance,CouncilArea
873,Hawthorn,14/59 Riversdale Rd,2,u,450000.0,PI,Jellis,1/07/2017,3122,Southern Metropolitan,11308,5.3,Boroondara City Council
2220,Wallan,59 William St,3,h,424000.0,S,Ruralco,2/06/2018,3756,Northern Victoria,3988,44.2,Mitchell Shire Council
2290,Doreen,159 Orchard Rd,3,h,477000.0,SP,HAR,3/02/2018,3754,Northern Victoria,7254,25.9,Nillumbik Shire Council
3011,Reservoir,3/59 Clingin St,2,t,480000.0,VB,RW,3/03/2018,3073,Northern Metropolitan,21650,12.0,Darebin City Council
7007,Greensborough,2/159 Grimshaw St,2,t,450000.0,S,Buckingham,4/06/2016,3088,Northern Metropolitan,8524,16.1,Banyule City Council
9025,Reservoir,1/59 Cheddar Rd,1,t,455000.0,S,Barry,6/01/2018,3073,Northern Metropolitan,21650,12.0,Darebin City Council
9096,Sunbury,59 Davenport Dr,3,h,499500.0,S,Barry,6/01/2018,3429,Western Metropolitan,14092,31.7,Hume City Council
10909,Reservoir,2/59 St Vigeons Rd,2,u,485000.0,SA,HAR,7/04/2018,3073,Northern Metropolitan,21650,12.0,Darebin City Council
10940,St Kilda,2/59 Carlisle St,2,u,492500.0,S,McGrath,7/04/2018,3182,Southern Metropolitan,13240,5.0,Port Phillip City Council
13089,Sunshine West,59 Felstead Av,3,h,465000.0,S,Bells,7/11/2016,3020,Western Metropolitan,6763,10.5,Brimbank City Council
13769,Reservoir,1/59 Cheddar Rd,1,t,455000.0,S,Barry,8/01/2018,3073,Northern Metropolitan,21650,12.0,Darebin City Council
13840,Sunbury,59 Davenport Dr,3,h,499500.0,S,Barry,8/01/2018,3429,Western Metropolitan,14092,31.7,Hume City Council
14660,St Albans,2/59 Perrett Av,3,u,438000.0,S,O'Brien,8/04/2017,3021,Western Metropolitan,14042,14.0,Brimbank City Council
14952,Heidelberg West,5/459 Waterdale Rd,2,u,445000.0,VB,Miles,8/07/2017,3081,Eastern Metropolitan,2674,8.8,Banyule City Council
15408,Fairfield,1/259 Gillies St,1,u,490500.0,S,Harcourts,8/09/2018,3078,Northern Metropolitan,2970,5.7,Darebin City Council
19330,Caulfield North,8/359 Balaclava Rd,1,u,290000.0,VB,hockingstuart,10/12/2016,3161,Southern Metropolitan,6923,7.8,Glen Eira City Council
19471,Fairfield,7/59 Rathmines St,2,u,445000.0,S,Nelson,10/12/2016,3078,Northern Metropolitan,2970,5.7,Darebin City Council
19616,Hoppers Crossing,59 Aitken Av,3,h,421600.0,SP,Barry,10/12/2016,3029,Western Metropolitan,13830,18.4,Wyndham City Council
19623,Hoppers Crossing,59 Mossfiel Dr,3,h,453000.0,S,Triwest,10/12/2016,3029,Western Metropolitan,13830,18.4,Wyndham City Council
22676,Heidelberg West,7/459 Waterdale Rd,2,u,463000.0,S,hockingstuart,12/08/2017,3081,Eastern Metropolitan,2674,8.8,Banyule City Council
28848,Parkville,105/459 Royal Pde,1,u,485000.0,PI,Jellis,15/10/2016,3052,Northern Metropolitan,2309,1.8,Melbourne City Council
29306,Heidelberg West,15/459 Waterdale Rd,2,u,360000.0,SP,Miles,16/04/2016,3081,Eastern Metropolitan,2674,8.8,Banyule City Council
30441,Thomastown,59 Darebin Dr,3,h,478500.0,S,hockingstuart,16/07/2016,3074,Northern Metropolitan,7955,15.3,Whittlesea City Council
31818,Reservoir,1/59 Cheddar Rd,1,t,455000.0,S,Barry,16/12/2017,3073,Northern Metropolitan,21650,12.0,Darebin City Council
31889,Sunbury,59 Davenport Dr,3,h,499500.0,S,Barry,16/12/2017,3429,Western Metropolitan,14092,31.7,Hume City Council
32272,Melbourne,505/598 St Kilda Rd,1,u,390000.0,S,Greg,17/02/2018,3000,Northern Metropolitan,17496,0.0,Melbourne City Council
38572,Mill Park,1/59 Heritage Dr,2,u,397000.0,S,Love,19/08/2017,3082,Northern Metropolitan,10529,17.9,Whittlesea City Council
40601,Parkville,205/459 Royal Pde,1,u,460000.0,PI,Woodards,21/04/2018,3052,Northern Metropolitan,2309,1.8,Melbourne City Council
46611,Reservoir,1/59 Cheddar Rd,1,t,455000.0,S,Barry,23/12/2017,3073,Northern Metropolitan,21650,12.0,Darebin City Council
46682,Sunbury,59 Davenport Dr,3,h,499500.0,S,Barry,23/12/2017,3429,Western Metropolitan,14092,31.7,Hume City Council
50905,South Yarra,5/59 Davis Av,1,u,370000.0,S,Williams,25/02/2017,3141,Southern Metropolitan,14887,2.7,Melbourne City Council
51368,Melbourne,303/594 St Kilda Rd,1,u,300000.0,VB,Whiting,25/08/2018,3000,Northern Metropolitan,17496,0.0,Melbourne City Council
52729,Fairfield,6/259 Gillies St,1,u,460000.0,S,Harcourts,26/05/2018,3078,Northern Metropolitan,2970,5.7,Darebin City Council
54501,Heidelberg West,17/459 Waterdale Rd,2,u,444000.0,S,Miles,27/05/2017,3081,Eastern Metropolitan,2674,8.8,Banyule City Council
61573,Melbourne,903/594 St Kilda Rd,1,u,310000.0,VB,Dingle,30/06/2018,3000,Northern Metropolitan,17496,0.0,Melbourne City Council
62832,Reservoir,1/59 Cheddar Rd,1,t,455000.0,S,Barry,30/12/2017,3073,Northern Metropolitan,21650,12.0,Darebin City Council
62903,Sunbury,59 Davenport Dr,3,h,499500.0,S,Barry,30/12/2017,3429,Western Metropolitan,14092,31.7,Hume City Council

### Modificando dados na DataFrame

In [ ]:
# Vamos filtar um vendedor
df.loc[df['SellerG'] == 'Nelson'] # Na coluna Vendedor (SellerG), Vamos achar o seu Nelson

In [ ]:
# Troca o nome do vendedor Nelson para Ronald
df.loc[df['SellerG'] == 'Nelson', 'SellerG'] = 'Ronald' # Aqui busquei o Nelson na Coluna Seller e falei que SellerG recebe Ronald no lugar de Nelson

In [25]:
# O Method de Ronal deve mudar de S para Pending
df.loc[df['SellerG'] == 'Ronald', ['Method']] = 'Pending' # OBS: Coluna sempre dentro de cocheites []

### Agrupando dados com o Groupby

In [28]:
df.groupby(['SellerG']) # Aqui serve para agrupar os vendndores

# df

In [ ]:
# Vamos agrupar e ver algumasa funções.

df.groupby(['SellerG']).mean(numeric_only=True)

# A operação de média falha (TypeError) ao tentar ser aplicada em colunas de texto (dtype 'object').
# O parâmetro 'numeric_only=True' instrui o Pandas a ignorar essas colunas na agregação.

                 Rooms         Price     Postcode  Propertycount   Distance
SellerG
@Realty       3.629630  7.489286e+05  3086.814815    8510.888889  15.948148
A             3.000000  7.265000e+05  3047.888889    4412.000000  13.533333
AIME          4.000000  9.800000e+05  3147.000000    2894.000000  10.200000
ASL           3.400000  1.103750e+06  3104.900000    9702.000000  14.820000
Abercromby's  3.220588  2.152905e+06  3139.323529    8806.500000   5.152941
...                ...           ...          ...            ...        ...
iOne          3.000000  6.200000e+05  3013.000000    6543.000000   6.300000
iProperty     3.000000  8.200000e+05  3133.000000    4181.000000  17.200000
iSell         3.165354  7.200606e+05  3190.055118    7636.574803  22.168504
iTRAK         3.306667  7.343636e+05  3196.773333    6775.426667  24.645333
voglwalpole   3.250000  7.665000e+05  3134.500000    3507.000000  20.600000

[476 rows x 5 columns]

In [ ]:
# Vamos ver quem vende mais.

# df.groupby(['SellerG']).sum().sort_values('Price') #Aqui é do menor para o maior.
# df.groupby(['SellerG']).sum().sort_values('Price', ascending = False) # Aqui é do maior para o menor

# OBS: Como não usei (numeric_only=True), ele treouse outras colunas que eu não quero!

In [40]:
df.groupby(['SellerG']).sum(numeric_only=True).sort_values('Price', ascending = False)

,Rooms,Price,Postcode,Propertycount,Distance
SellerG,,,,,
Jellis,16948,5.301902e+09,17116422,42958979,47831.6
Nelson,13808,4.089097e+09,14489179,35455466,34410.5
Barry,22919,4.022899e+09,21405391,54662639,108662.2
Marshall,9437,3.337732e+09,8949613,22270034,20141.4
hockingstuart,12635,3.174822e+09,13571171,36291698,53918.3
...,...,...,...,...,...
Fletchers/J,4,0.000000e+00,3146,10412,7.3
Buxton/hockingstuart,3,0.000000e+00,3196,2546,27.0
hockingstuart/Purplebricks,3,0.000000e+00,3076,10926,19.6
Sterling,5,0.000000e+00,3095,2346,18.0
Sprint,4,0.000000e+00,3029,10160,18.4

In [ ]:
# Vaou fazer o Ranque dos Melhores 10 Vendedores com .head(10)

df.groupby(['SellerG']).sum(numeric_only=True).sort_values('Price', ascending = False).head(10)

               Rooms         Price  Postcode  Propertycount  Distance
SellerG
Jellis         16948  5.301902e+09  17116422       42958979   47831.6
Nelson         13808  4.089097e+09  14489179       35455466   34410.5
Barry          22919  4.022899e+09  21405391       54662639  108662.2
Marshall        9437  3.337732e+09   8949613       22270034   20141.4
hockingstuart  12635  3.174822e+09  13571171       36291698   53918.3
Buxton         10707  3.103258e+09  10669223       21365913   48190.6
Ray            14961  2.953669e+09  14329293       41191735   76239.1
Fletchers       5402  1.384292e+09   5039345       10521475   21963.2
Biggin          4203  1.002292e+09   4783284       12904764   12250.2
Noel            3447  9.618405e+08   3328766        6571572   14386.3

In [ ]:
df.groupby(['SellerG']).count() # Vai contar tudo

,Suburb,Address,Rooms,Type,Price,Method,Date,Postcode,Regionname,Propertycount,Distance,CouncilArea
SellerG,,,,,,,,,,,,
@Realty,27,27,27,27,21,27,27,27,27,27,27,27
A,9,9,9,9,6,9,9,9,9,9,9,9
AIME,1,1,1,1,1,1,1,1,1,1,1,1
ASL,10,10,10,10,10,10,10,10,10,10,10,10
Abercromby's,68,68,68,68,42,68,68,68,68,68,68,68
...,...,...,...,...,...,...,...,...,...,...,...,...
iOne,1,1,1,1,1,1,1,1,1,1,1,1
iProperty,1,1,1,1,1,1,1,1,1,1,1,1
iSell,127,127,127,127,99,127,127,127,127,127,127,127
iTRAK,75,75,75,75,70,75,75,75,75,75,75,75
voglwalpole,4,4,4,4,2,4,4,4,4,4,4,4